<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ошибка сервера (500)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/errors/error.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/errors/error-404.css') }}">
</head>
<body class="error-500">
    <div class="error-container">
        <div class="error-icon">500</div>
        <h1>Ошибка сервера</h1>
        <p>Извините, произошла непредвиденная ошибка.</p>
        
        <div class="btn-group">
            <a href="{{ url_for('main.index') }}" class="btn">На главную</a>
            <a href="javascript:location.reload()" class="btn btn-outline">Обновить страницу</a>
        </div>
    </div>
</body>
</html>